@import url('./base.css');

body{
  background: var(--Rangi-Grey);
  color: var(--Rangi-White);
}

a{
  color: var(--Rangi-White);
  text-decoration: none;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  font-size: var(--Mada-6);
  font-weight: 600;
}

a:hover{
  color: var(--Rangi-Green);
  text-decoration:underline;
}

h1{
  font-size: var(--Mada-1);
  margin: auto 20px;
}

h3{
  font-size: var(--Mada-3);
  margin: auto 20px;
}
button{
  background: var(--Rangi-Green);
  box-shadow: 1px 1px 30px #fff;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes glow{
  0%{ box-shadow: 1px 1px 20px #fff;}
  25%{ box-shadow: 1px 1px 18px #fff;}
  50%{ box-shadow: 1px 1px 15px #fff;}
  75%{ box-shadow: 1px 1px 18px #fff;}
  100%{ box-shadow: 1px 1px 20px #fff;}
}