@import url('./base.css');

body{
  background: var(--Rangi-Grey);
}

a{
  color: var(--Rangi-White);
  text-decoration: none;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  font-size: var(--Mada-6);
  font-weight: 600;
}

a:hover{
  color: var(--Rangi-Green);
  text-decoration:underline;
}